{% extends "main/base.html" %}
  
{% block content %}


<style>
    body {
        background-color: none;
        color: black;
        font-family: Arial, sans-serif;

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 80%;
        padding: 10px;
        border: 1px solid black;
        background:grey;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1 class="title" style="text-align:center">
    Add a new Netflix movie/show
</h1>
<div class="box">
<form method="POST" action="/updatepatient" enctype="multipart/form-data">
    <form method="POST" action="/updatepatient" enctype="multipart/form-data">
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            {% if (patient.profile_picture) %}
                            <img class="rounded-circle mt-5" width="150px" src="{{url_for('static', filename='images/' + patient.profile_picture)}}"></div>
                            {% else %}
                            <img class="rounded-circle mt-5" width="150px" src="{{url_for('static', filename='images/default_profile_pic.jpg')}}"></div>
                            {% endif %}
                    </div>
                    <div class="form-group">
                        <input class="form-control-file" type="file" name="inputFile">
                    </div>

                    <div class="col-md-5 border-right">                        
                        
                            <div class="field">
                                <div class="control">
                                    <label for="fname">Show type</label>
                                    <input class="input is-small" type="text" id="fname" name="firstname" value = "{{current_user.first_name}}" placeholder="Enter show type.." autofocus="">

                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="lname">Title</label>
                                    <input class="input is-small" type="text" id="lname" name="lastname" value = "{{current_user.last_name}}" placeholder="Enter title.." autofocus="">

                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="lname">Director</label>
                                    <input class="input is-small" type="text" id="email" name="email" value = "{{current_user.email}}" placeholder="Enter director name.." autofocus="">

                                </div>
                            </div>
                            
                            <div class="field">
                                <div class="control">
                                    <label for="lname">Release year</label>
                                    <input class="input is-small" type="text" id="email" name="email" value = "{{current_user.email}}" placeholder="Enter release year.." autofocus="">

                                </div>
                            </div>        
    
                            <div class="field">
                                <div class="control">
                                    <label for="age">Actor</label>
                                    <input class="input is-small" type="text" id="price" name="price" value = "{{patient.price_package}}"  placeholder="Enter actor name.." autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="age">Country</label>
                                    <input class="input is-small" type="text" id="age" name="age" value = "{{patient.age}}" placeholder="Enter country name.." autofocus="">
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <div class="control">
                                    <label for="gender">Rating</label>
                                    <select id ="Gender" name="gender">
                                        <option value="male">0</option>
                                        <option value="female">1</option>
                                        <option value="male">2</option>
                                        <option value="female">3</option>
                                        <option value="male">4</option>
                                        <option value="male">5</option>    
                                        {% if (patient.gender) %}
                                        <option value="selected value" selected>"{{patient.gender}}"</option>
                                        {% else %}
                                        <option value="selected value" selected>Select..</option>
                                        {% endif %}
                                        
                                      </select>
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <div class="control">
                                    <label for="weight"> Date added</label>
                                    <input class="input is-small" type="text" id="weight" name="weight" value = "{{patient.weight}}" placeholder="Enter date added.." autofocus="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="height">Duration</label>
                                    <input class="input is-small" type="text" id="height" name="height" value = "{{patient.height}}" placeholder="Enter duration.." autofocus="">

                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label for="Illness">Listed in</label>
                                    <input class="input is-small" type="text" id="illness" name="illness" value = "{{patient.currentillness}}" placeholder="Enter listed in.." autofocus="">  
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label for="Additionalcomments">Description</label>
                                    <input class="textarea" type ="text" id="Additionalcomments" name="Additionalcomments" placeholder="Enter description.." style="height:200px" autofocus="">
                                </div>
                            </div>

                            <button class="button is-block is-info is-large">Create</button>
                        
                    </div>
                    
                </div>
            </div>
            </div>
            </div>
    </form>
</div>
{% endblock %}